{% extends "default.html" %}

{%block content%}
<html class="image_background" style="background-image: url(static/background_image/0.jpg);">
<body>
<div class="order_form" style="color: black;">
    <h1 align="center">Политика конфиденциальности</h1>
    <p align="center">ИП Иванов Иван Иванович<br>ИНН: сайт ещё разрабатывается<br>ОГРН: сайт ещё разрабатывается<br>Р/с: сайт ещё разрабатывается<br>Адрес нашего сайта: <a href="https://auto-spaparts.ru/">https://auto-spaparts.ru/</a><br>Основной адрес нашего сайта: <a href="https://avto-zapchasti.org/">https://avto-zapchasti.org/</a></p>
    <p>Пока сайт находится в разработке, вы всё равно можете воспользоваться функционалом сайта.</p>
    <h2 align="center">Какие персональные данные мы собираем и с какой целью</h2>
    <h3 align="center">Куки</h3>
    <p align="center">Мы храним данные текущей сессии. Данная информация хранится в защищённом хранилище и третьи лица доступа к ней не имеют. В куки хранится информация о пользователе, товаре, совершённых заказах. Хранится информация в течение 30 дней с момента последнего изменения.</p>
    <h3 align="center">Встраиваемое содержимое других вебсайтов</h3>
    <p align="center">Статьи на этом сайте могут включать встраиваемое содержимое (например видео, изображения, статьи, ссылки и др.), подобное содержимое ведет себя так же, как если бы посетитель зашел на другой сайт.</p>
    <p align="center">Эти сайты могут собирать данные о вас, использовать куки, внедрять дополнительное отслеживание третьей стороной и следить за вашим взаимодействием с внедренным содержимым, включая отслеживание взаимодействия, если у вас есть учетная запись и вы авторизовались на том сайте.</p>
    <h2 align="center">С кем мы делимся вашими данными</h2>
    <p align="center">Ваши персональные данные, которые вы предоставляете нашему сайту известны только двум сторонам (Администратор сайта и Вы - пользователь), и, не разглашаются третьим лицам. Личные (персональные) данные могут быть раскрыты уполномоченным органам РФ в случае запроса с их стороны по причине совершения Вами преступлений тяжкого и особо тяжкого характера и в иных случаях.</p>
    <h2 align="center">Как долго мы храним ваши данные</h2>
    <p align="center">Данные ваших заказов хранятся в течение 60 дней, с момента достижения конечного статуса (выполнен или отклонён), в защищённом хранилище на сервере, после чего, архивируются и хранятся бессрочно.</p>
    <h2 align="center">Какие у вас права на ваши персональные данные</h2>
    <p align="center">Вы можете сделать запрос в техническую поддержку на: "удаление всех данных", или, обратиться к менеджеру с этим же требованием. После чего, все данные о ваших заказах, в том числе архивированные, будут удалены в ближайшее время.</p>
    <h2 align="center">Куда мы отправляем ваши данные</h2>
    <p align="center">Данные авторизации или иные данные сессии, подключения, заказов - не отправляются ни кому и хранятся на сервере. Данные не разглашаются третьей стороне, кроме случаев, предусмотренных законодательством РФ.</p>
    <h3 align="center">Как мы защищаем ваши данные</h3>
    <p align="center">К вашим персональным ("все заполняемые поля форм на сайте", "данные сессии", "данные заказов") данным не имеют доступа третьи лица. Ваши данные хранятся на защищённом сервере, в защищённом зашифрованном хранилище.</p>
    <h2 align="center">Контактная информация администраторов сайта</h2>
    <p align="center">По всем вопросам обращаться к главному редактору сайта:  <a href="https://vk.com/fizikprosto">https://vk.com/fizikprosto</a><br>Либо, пишите на почту: <strong><a href="mailto:auto.spaparts.ru@yandex.ru">auto.spaparts.ru@yandex.ru</a></strong></p>
</div>
</body>
</html>
{%endblock%}
