$sm: 600px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin max-w($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin min-w($width) {
  @media only screen and (min-width: $width + 1) {
    @content;
  }
}