<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@@title</title>
  <link rel="shortcut icon" href="@@favicon" type="image/x-icon">
  <link rel="icon" sizes="192x192" href="@@favicon192x192">
  <link rel="icon" sizes="512x512" href="@@favicon512x512">
  <link rel="icon" sizes="16x16" href="@@favicon16x16">
  <link rel="icon" sizes="32x32" href="@@favicon32x32" >
  <link rel="apple-touch-icon"  sizes="" href="@@apple-touch-icon" >
  <link rel="stylesheet" href="css/libs.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>