<header class="header">
  <div class="container container--big">
    <nav class="header__nav">
      <a class="header__logo logo">
        <img class="logo__img" src="images/logo.svg" height="65" width="70" alt="логотип Автозапчаси">
      </a>

      <ul class="header__menu menu">
        <li class="menu__item">
          <a class="menu__link" href="">
            Главная
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="">
            Корзина
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="">
            Отследить
          </a>
        </li>
      </ul>
    </nav>


  </div>
</header>