<footer class="footer">
  <div class="container container--big">
    <div class="footer__adaptive-menu">
      <div class="footer__inner">
        <div class="footer__top">
          <button class="footer__burger burger burger--close" type="button">
            <span class="burger__line"></span>
            <span class="hide"> открыть/закрыть меню</span>
          </button>

          <a class="footer__logo logo">
            <svg width="142" height="132">
              <use xlink:href="images/sprite.svg#logo"></use>
            </svg>
            <span class="hide">логотип</span>
          </a>

          <ul class="footer__menu">
            <li class="footer__item">
              <a class="footer__link" href="">
                Оплата
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">
                Доставка
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">
                Возвраты
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">
                Часто задаваемые вопросы
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">
                Политика конфиденциальности
              </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="">
                Пользовательское соглашение
              </a>
            </li>
          </ul>

          <ul class="footer__list">
            <li class="footer__text">
              ИП Иванов И.И.
            </li>
            <li class="footer__text">
              ИНН: <span>1234567890</span>
            </li>
            <li class="footer__text">
              ОГРН: <span>1234567890</span>
            </li>
            <li class="footer__text">
              Р/с: <span>1234567890</span>
            </li>
            <li class="footer__text">
              <address>
                Адрес: <span>г. Краснодар</span>
              </address>
            </li>
          </ul>

          <address class="footer__address">
            <a class="footer__text" href="mailto:avto.zapchasti.tech@yandex.ru">
              avto.zapchasti.tech@yandex.ru
            </a>
            <a class="footer__text" href="mailto:avto.zapchasti.support@yandex.ru">
              avto.zapchasti.support@yandex.ru
            </a>
            <a class="footer__text" href="tel:+79898273998">
              +7-989-827-39-98
            </a>

            <ul class="social">
              <li class="social__item">
                <a class="social__link" href="" class="social__link">
                  <span class="hide">наш ватсап</span>

                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link">
                  <span class="hide">наш телеграм</span>

                </a>
              </li>
              <li class="social__item">
                <a href="" class="social__link">
                  <span class="hide">наш вайбер</span>
                </a>
              </li>
            </ul>
          </address>
        </div>
        <div class="footer__copy-wrap">
          <a class="footer__logo-mobile logo">
            <svg width="27" height="27">
              <use xlink:href="images/sprite.svg#logo"></use>
            </svg>
            <span class="hide">логотип</span>
          </a>
          <span class="footer__copy">
            © design by Andrey Dereza
          </span>
        </div>
      </div>
    </div>
  </div>

  <nav class="footer__nav ">
    <div class="footer__container container">
      <ul class="footer__nav-list">
        <li class="footer__nav-item">
          <a class="footer__nav-link" href="">
            <svg height="33" width="33">
              <use xlink:href="images/sprite.svg#footer-nav1"></use>
            </svg>
            <span class="hide">Главная</span>
          </a>
        </li>

        <li class="footer__nav-item">
          <a class="footer__nav-link" href="">
            <svg height="33" width="33">
              <use xlink:href="images/sprite.svg#footer-nav2"></use>
            </svg>
            <span class="hide">Отследить</span>
          </a>
        </li>

        <li class="footer__nav-item">
          <a class="footer__nav-link" href="">
            <svg height="33" width="33">
              <use xlink:href="images/sprite.svg#footer-nav3"></use>
            </svg>
            <span class="hide">Корзина</span>
          </a>
        </li>

        <li class="footer__nav-item">
          <button class="footer__nav-link js-menu" type="button">
            <svg height="33" width="33">
              <use xlink:href="images/sprite.svg#footer-nav4"></use>
            </svg>
            <span class="hide">Информация</span>
          </button>
        </li>
      </ul>
    </div>
  </nav>

</footer>