@import "global/*.scss";
@import "../components/bem-blocks/**/*.scss";

// =========  =========
body {
  background-color: #ededed;
  font-family: "roboto", sans-serif;
  color: #000;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  overflow-x: hidden;
}

.lock {
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  color: #292525;
  padding-left: 20px;
  margin-bottom: 50px;
  @include max-w($sm) {
    padding-left: 0;
  }
}

.logo {
  display: inline-block;

  &__img {
    object-fit: contain;
    height: 65px;
    transition: height 0.3s;
  }
}

.menu {
  display: flex;
  font-weight: 600;
  font-size: 19px;
  color: #ffffff;

  &__item {
    margin-right: 70px;
    @include max-w($lg) {
      margin-right: 35px;
    }
  }

  &__link {
    padding: 13px 0;
  }
}

// ========= / =========

// ========= btn =========
.btn {
  @include no-btn;
  font-weight: 900;
  font-size: 17px;
  line-height: 26px;
  background-color: #cde1ff;
  border-radius: 10px;
  padding: 9px 39px;
}
// ========= /btn =========

// ========= copy-btn =========
.copy-btn {
  @include no-btn;
  position: relative;

  width: 50px;
  height: 50px;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-image: url(../images/sprite.svg#copy);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
// ========= /copy-btn =========

// ========= burger =========
.burger {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 0;
  z-index: 100;
  display: none;

  @include max-w($lg) {
    // display: block;
  }

  &__line,
  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 14px;
    width: 40px;
    height: 2px;
    background-color: #fff;
    transition: transform 0.4s, top 0.4s;
  }

  &::after {
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    top: 33px;
  }

  &--close {
    .burger__line {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
    }

    &::after {
      top: 50%;
      transform: translateY(-50%) rotate(315deg);
    }

    &::before {
      top: 50%;
      transform: translateY(-50%) rotate(405deg);
    }
  }
}

// ========= /burger =========

// ========= header ============
.header {
  padding: 7px 0;
  background-color: rgba(178, 189, 227, 0.59);
  backdrop-filter: blur(20px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 50;

  @include max-w($sm) {
    background-color: transparent;
    backdrop-filter: unset;
    position: absolute;
  }

  transform: translateY(0);
  transition: transform 0.4s, background-color 0.2s, padding 0.3s;

  &--scroll {
    // padding: 10px 0;

    img {
      height: 35px;
    }
  }

  &.header--hide {
    transform: translateY(-150%);
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 190px;

    @include max-w($lg) {
      margin-right: 50px;
    }
    @include max-w($md) {
      img {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__menu {
    @include max-w($sm) {
      display: none;
    }
  }
}
// ========= /header ============
// ========= input ============
.input {
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 3px 18px;
  font-weight: 500;
  font-size: 17px;
  line-height: 2;
  border: 2px solid transparent;
  transition: border-color 0.3s;
  width: 100%;

  &::placeholder {
    color: #cecece;
  }

  &--area {
    height: 134px;
    resize: none;
  }

  @include max-w($sm) {
    font-size: 15px;
    padding: 7px 15px;
  }

  &--main {
    padding-right: 60px;
  }

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}
// ========= /input ============
// ========= error-message ============
.error-message {
  position: absolute;
  top: calc(100% + 17px);
  left: 0;
  max-width: calc(100% - 30px);
  padding: 18px 28px;
  font-weight: 300;
  font-size: 10px;
  line-height: 2;
  color: #292525;
  background-color: rgba(255, 210, 218, 0.63);
  backdrop-filter: blur(20px);
  border-radius: 9px;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    top: -17px;
    left: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 13px 17px;
    border-color: transparent transparent rgba(255, 210, 218, 0.63) transparent;
  }
}
// ========= /error-message ============
// ========= main-search ============
.main-search {
  position: relative;

  &--big {
    // .main-search__label {
    //   max-width: 800px;
    // }
    max-width: 800px;
    margin: 0 auto;
  }

  &__form {
    display: flex;
    position: relative;
  }

  &__label {
    display: block;
    width: 100%;
  }

  &__burger {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 3px;
    width: 70px;
    height: 39px;
    border-left: 1px solid #adadad;
    display: block;
    opacity: 0;
    transition: opacity 0.3s;

    &::after,
    .burger__line {
      background-color: #5d78d9;
      left: 20px;
      width: 27px;
    }

    &.show {
      opacity: 1;
    }
  }
}
// ========= /main-search ============

// ========= hero ============
.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 140px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20vh;
    background-image: linear-gradient(0deg, #ededed 0%, rgba(237, 237, 237, 0) 65.94%);
  }

  &__mobile-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include min-w($sm) {
      background-image: unset !important;
    }

    @include max-w($sm) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 112px;
        background-image: linear-gradient(187.18deg, #ededed 7px, rgba(237, 237, 237, 0) 112px);
      }
    }
  }

  &__inner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 120px 0 200px;
  }

  &__info {
    background-color: rgba(93, 120, 217, 0.56);
    backdrop-filter: blur(20px);
    border-radius: 50px;
    padding: 80px 70px;
    max-width: 900px;
    width: 100%;

    @include max-w($lg) {
      padding: 30px 15px;
      max-width: 700px;
    }

    @include max-w($sm) {
      padding: 0;
      background-color: transparent;
      backdrop-filter: unset;
    }
  }

  &__title {
    font-size: 50px;
    line-height: 1.2;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 75px;
    padding: 0 20px;

    span {
      letter-spacing: 6px;
    }

    @include max-w($lg) {
      font-size: 32px;
    }

    @include max-w($sm) {
      display: none;
    }
  }

  &__mobile {
    @include max-w($sm) {
      position: absolute;
      padding: 10px 8px;
      width: 100%;
      z-index: 60;
      top: 35%;
      left: 0;
      transition: top 0.3s;

      &.active-js {
        top: 0;
      }
    }
  }

  &__mobile-bg2 {
    @include max-w($sm) {
      position: absolute;
      z-index: 59;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      opacity: 0;
      transition: opacity 0.3s;

      &.active-js {
        opacity: 1;
      }
    }
  }
}

// ========= /hero ============
// ========= result-search ============
.result-search {
  &__main-search {
    margin-bottom: 50px;
  }

  &__text {
    font-weight: 500;
    font-size: 17px;
    line-height: 2;
    color: #898888;
    text-align: center;
    margin-bottom: 30px;
  }

  &__slider {
    width: 100%;
    padding-bottom: 17px;
  }

  &__swiper-wrapper {
    align-items: center;
  }

  &__slide {
    width: calc((100% - 40px) / 5);

    @include max-w($lg) {
      width: calc((100% - 20px) / 3);
    }

    @include max-w($sm) {
      opacity: 0.4;
      transition: opacity 0.3s;

      &.swiper-slide-active {
        opacity: 1;

        .result-search__item {
          width: 100%;
          height: 200px;
        }
      }

      &.swiper-slide-prev {
        .result-search__item {
          margin-left: auto;
        }
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__swiper-pagination.swiper-pagination {
    bottom: 0;
    span {
      width: 7px;
      height: 7px;
    }
  }

  &__item {
    @include max-w($sm) {
      width: 60%;
      height: 100%;
    }
  }

  &__img {
    object-fit: contain;
    object-position: center;
    overflow: hidden;
    border-radius: 15px;
    max-width: 100%;

    @include max-w($sm) {
      border-radius: 5px;
    }
  }

  &__link {
    margin: 0 auto 45px;
  }

  &__no-analog {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 10px;
  }

  &__analog {
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 35px;
  }

  &__btn {
    display: block;
    width: fit-content;
    margin: 0 auto 10px;
  }
}

.link {
  font-weight: 300;
  font-size: 13px;
  line-height: 2.8;
  display: block;
  width: fit-content;
  color: #5d78d9;
}

.table-width {
  width: 100%;
  display: block;
  text-align: center;

  &:nth-child(1) {
    border-radius: 10px 0 0 10px;
    width: 340px;
  }

  &:nth-child(2) {
    width: 186px;
  }

  &:nth-child(3) {
    width: 186px;
  }

  &:nth-child(4) {
    width: 186px;
  }

  &:nth-child(5) {
    width: 140px;
  }

  &:nth-child(6) {
    width: 110px;
  }

  &:nth-child(7) {
    width: 240px;
    border-right: 1px solid transparent;
  }
}

.table {
  max-width: 1420px;
  font-weight: 500;
  font-size: 17px;
  line-height: 34px;
  margin-bottom: 27px;
  box-sizing: border-box;

  &__head {
    color: #292525;
    border: 3px solid #5d78d9;
    border-radius: 10px;
    display: flex;
    margin-bottom: 5px;
    height: 52px;
    align-items: center;

    &--slider {
      display: none;
    }
  }

  &__caption {
    padding-right: 10px;
  }

  &__item {
  }

  &__inner {
    display: flex;
    margin-bottom: 1px;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-right: 1px solid #ededed;
    padding: 5px 4px;
  }

  &__cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;
  }

  &__btn {
    background: #ededed;
    border: 3px solid #5d78d9;
    border-radius: 10px;
    width: 65px;
    height: 39px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;

    svg {
      stroke: #5d78d9;
      transition: stroke 0.3s;
    }

    &:hover {
      background-color: rgba(169, 183, 255, 0.57);
    }

    &:disabled {
      border-color: #adadad;
      background-color: transparent;

      svg {
        stroke: #adadad;
      }
    }
  }

  &__number-input {
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    height: 52px;
  }
}

.number-input {
  display: flex;
  align-items: center;
  &__btn {
    @include no-btn;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: -1.5px;
    line-height: 50px;
    padding: 0 5px 0 15px;
    transition: background-color 0.3s, border-color 0.3s;

    &:hover {
      background-color: rgba(169, 183, 255, 0.57);
    }

    &--plus {
      padding: 0 15px 0 5px;
    }
  }

  &__label {
  }

  &__input {
    text-align: center;
    line-height: 50px;
    width: 40px;
    border: 0;
    padding: 0 6px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

// ========= /result-search ============

// ========= selection-form ============
.selection-form {
  overflow: hidden;
  position: relative;

  &__search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 65px;
    max-width: calc(100vw - 30px);
    width: 970px;
    padding: 0 15px;
    z-index: 10;
  }

  &__container {
    margin-right: 0;
    max-width: calc((100vw - 1450px) / 2 + 1450px);
    padding-right: 0;
  }

  &__inner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    position: relative;
    // border-radius: 30px 0 0 30px;
    // overflow: hidden;
    padding: 40px 15px 40px 0;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 133px;
      width: 100%;
      background-image: linear-gradient(180deg, #ededed 0%, rgba(237, 237, 237, 0) 37.81%);
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 1150px;
      background: linear-gradient(90deg, #ededed 37.81%, rgba(237, 244, 255, 0) 99.27%);
    }

    @include max-w($md) {
      background-image: unset !important;
    }
  }

  &__info {
    max-width: 580px;
    position: relative;
    z-index: 10;
  }

  &__title {
    @include max-w($sm) {
      font-size: 21px;
    }
  }

  &__form {
  }

  &__label {
    display: block;
    margin-bottom: 30px;
  }

  &__text {
    font-weight: 300;
    font-size: 13px;
    line-height: 140%;
    margin-bottom: 20px;
  }

  &__list {
    a {
      color: #5d78d9;
      text-decoration-color: #5d78d9;
    }
  }

  &__btn {
    padding: 12px 64px;
  }
}

// ========= /selection-form ============
// ========= social ============
.social {
  &__item {
  }

  &__link {
  }
}
// ========= /social ============

// ========= footer ============
.footer {
  padding: 15px 0;
  background-color: #9dbae7;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.8;
  color: #5d78d9;
  position: relative;

  @include max-w($lg) {
    padding: 0;
  }

  @include max-w($sm) {
    padding-top: 0;
  }

  &__logo {
    margin-right: 60px;

    @include max-w($lg) {
      display: none;
    }

    svg {
      fill: #2d62ae;
    }
  }

  &__adaptive-menu {
    @include max-w($lg) {
      text-align: center;
      position: fixed;

      top: 0;
      left: 150vw;
      width: 100%;

      z-index: 65;
      background-color: rgba(178, 189, 227, 0.6);
      backdrop-filter: blur(20px);
      transition: left 0.4s;

      &.active-js {
        left: 0;
      }
    }
  }

  &__inner {
    @include max-w($lg) {
      display: flex;
      position: relative;
      justify-content: unset;
      flex-direction: column;
      height: calc(100vh - 41px);
      padding: 50px 10px 10px;
      overflow-y: auto;
    }
  }

  &__top {
    @include min-w($lg) {
      display: flex;
      max-width: 1515px;
      width: 100%;
      justify-content: space-between;
    }

    @include max-w($lg) {
      margin-bottom: 50px;
    }
  }

  &__burger {
    display: none;
    @include max-w($lg) {
      display: block;
      position: absolute;
      right: 1px;
      top: 0;
    }
  }

  &__menu {
    margin-right: auto;
    @include max-w($lg) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__list {
    margin-right: auto;
    @include max-w($lg) {
      margin-right: 10px;
      vertical-align: top;
      display: inline-block;
      font-size: 10px;
    }
  }

  &__address {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
  }

  &__item {
    @include max-w($lg) {
      width: 100%;
      margin-bottom: 11px;
    }
  }

  &__link {
    @include max-w($lg) {
      display: block;
      width: 100%;
      background-color: #cde1ff;
      border: 1px solid #cde1ff;
      border-radius: 10px;
      padding: 6px 10px;
      font-style: normal;
      font-weight: 900;
      font-size: 17px;
      color: #292525;
      text-align: center;
    }
  }

  &__text {
    display: block;
  }

  &__copy-wrap {
    @include max-w($lg) {
      display: flex;
      align-items: center;
      margin-top: auto;
    }
  }

  &__logo-mobile {
    display: none;
    @include max-w($lg) {
      display: block;
      margin-right: 5px;
    }

    svg {
      fill: #ffffff;
    }
  }

  &__copy {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: #ececec;

    @include max-w($lg) {
      position: static;
      bottom: unset;
      right: unset;
    }
  }

  &__nav {
    background-color: #ededed;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 55;
    display: none;
    transition: bottom 0.3s;

    @include max-w($lg) {
      display: block;
    }

    &--hide {
      bottom: -41px;
    }
  }

  &__container {
    max-width: 345px;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 41px;
  }

  &__nav-item {
    position: relative;
  }

  &__nav-link {
    @include no-btn;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
  }
}

.box-in-cart {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 8px;
    top: -3px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-image: url(../images/sprite.svg#box);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3;
  }

  &--yes::after {
    opacity: 1;
  }
}

// ========= /footer ============
// ========= stop ============
.stop {
  padding-top: 79px;
  overflow: hidden;

  @include max-w($md) {
    padding-top: 74px;
  }

  @include max-w($sm) {
    padding-top: 0;
  }

  &__bg {
    padding: 44px 54px;
    height: calc(100vh - 79px - 170px);
    width: calc(100% + 8px);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
    color: #e5e5e5;

    @include max-w(1600px) {
      font-size: 24px;
      padding: 20px 15px;
    }

    @include max-w($lg) {
      height: calc(100vh - 79px);
      background-position: center top;
      position: relative;
      text-align: center;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    @include max-w($md) {
      height: calc(100vh - 74px);
      font-size: 20px;
    }

    @include max-w($sm) {
      padding-top: 130px;
      height: 100vh;
    }
  }

  &__text {
    max-width: 1450px;
    position: relative;
    z-index: 10;

    @include max-w(1600px) {
      max-width: 600px;
    }

    &--big {
      font-size: 100px;
      @include max-w(1600px) {
        max-width: unset;
        font-size: 50px;
      }

      @include max-w($lg) {
        font-size: 30px;
      }

      @include max-w($lg) {
        font-size: 22px;
      }
    }
  }

  &--404 {
    .stop {
      &__bg {
        background-position: left bottom;
        flex-direction: column;
        display: flex;
        padding: 90px 77px;

        @include max-w($lg) {
          display: block;
          background-position: bottom center;
          padding: 130px 15px;
        }
      }

      &__text {
        max-width: 490px;
        margin-top: auto;
      }
    }
  }

  &--502 {
    .stop__bg {
      background-position: left top;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 90px 77px;
      text-align: left;

      &::after {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

// ========= /stop ============
// ========= /stop ============
.thanks {
  padding-top: 150px;
  position: relative;
  overflow: hidden;
  height: calc(100vh - 170px);
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
  color: #000000;
  min-height: 660px;

  @include max-w($lg) {
    height: calc(100vh - 41px);
    font-size: 20px;
  }
  @include max-w($lg) {
    min-height: 590px;
    font-size: 20px;
  }

  @include max-w($sm) {
    font-size: 14px;
    min-height: 500px;
  }

  &__container {
    margin-left: 200px;
    @include max-w($lg) {
      margin-left: auto;
    }
  }

  &__title {
    font-size: 30px;
  }

  &__main-search {
    margin: 0 auto 70px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__box {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: fit-content;

    .thanks__text {
      margin-bottom: 0;
    }

    @include max-w($sm) {
      align-items: flex-end;
      span {
        display: block;
      }

      .thanks__text {
        margin-bottom: 12px;
      }
    }
  }

  &__copy {
    margin-left: 30px;
    @include max-w($sm) {
      margin-left: 5px;
    }
  }

  &__bg {
    position: absolute;
    left: 0;
    bottom: -20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    z-index: -1;
    height: 80%;
    width: 35%;
    background-color: #fff;

    @include max-w($lg) {
      height: 60%;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
    }

    &::after {
      bottom: 0;
      width: 36%;
      background-image: linear-gradient(270deg, #ededed 0%, rgba(237, 237, 237, 0) 100%);
    }

    &::before {
      left: 0;
      height: 200px;
      background-image: linear-gradient(0deg, rgba(237, 237, 237, 0) 0%, #ededed 100%);
    }
  }
}

// ========= /stop ============
// ========= faq ============
.faq {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.5;
  color: #000000;

  &__doc {
    margin-bottom: 170px;
  }

  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 40px;
  }

  &__list {
  }

  address {
    margin-bottom: 25px;
  }

  li {
    margin-bottom: 25px;
  }

  h3 {
    font-weight: 600;
  }
}

// ========= /faq ============
